@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
    This project is the example of CRUD operation for employee management.</p>
    
   
</div>